footer {
    width: 100%;
    justify-content: center;
    animation: fade-up 0.8s;
    padding-top: 40px;
}

footer p{
    font-size: 1.5vw;
    margin: 5px;
    text-align: center;
}

.media{
    justify-content: center;
    text-align: center;
}

.media img{
    width: 2%;
    height: auto;
    margin: 5px;
    transition: 0.8s;
}

.media img:hover{
    filter: invert(0.4);
    transition: 0.8s;
}