@font-face {
  font-family: ltsuperior;
  src: url(fonts/LTSuperior-Regular.otf);
}

@font-face {
  font-family: ltsuperiorBold;
  src: url(fonts/LTSuperior-ExtraBold.otf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: ltsuperior;
  transition: 0.3s;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-down {
  0% {
    transform: translateY(-10vw);
  }

  100% {
    transform: translateY(0px);
  }
}

main {
  animation: fade-up 1s ease-in-out;
  padding: 160px 100px 200px 100px;
}

body {
  background-color: rgba(224, 203, 203, 1);
}

a {
  transition: 0.4s;
  text-decoration: none;
}

h2 {
  font-family: ltsuperiorBold;
  color: rgba(33, 60, 101, 1);
}

p {
  font-family: ltsuperior;
  font-size: 1rem;
  color: rgba(42, 22, 14, 1);
}

.navBar a, .bar a {
  color: rgba(224, 203, 203, 1);
  text-align: left;
}

header .navBar{
  animation: fade-down 1s ease-in-out;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  justify-content: space-between;
  z-index: 3;
  padding: 30px 100px 30px 100px;
  background-color: rgba(33, 60, 101, 1);
}

.navBar h2, .navBar p, .bar p, .bar h2 {
  font-size: 1.5rem;
  left: 0;
  color: rgba(224, 203, 203, 1);
}

.navBar .icon p, .bar .icon p:hover {
  text-decoration: underline rgba(224, 203, 203, 1);
  text-decoration-thickness: 1.5px;
}

footer .bar{
  animation: fade-down 1s ease-in-out;
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 100px 100px 30px 100px;
  background-color: rgba(33, 60, 101, 1);
}


@media (max-width: 800px) {
  main {
    animation: fade-up 1s ease-in-out;
    padding: 130px 20px 20px 20px;
  }
  header .navBar, footer .bar {
    padding: 30px 20px 30px 20px;
  }
  header .navBar h2, p{
    text-align: left;
  }
}

@media (max-width: 1200px) {
  header .navBar {
    padding: 30px 20px 30px 20px;
  }
    .navBar h2{
        font-size: 1.2rem;
    }
    .navBar p{
        font-size: 15px;
    }
}

@media (min-width:1920px) {
    .Animations{
        column-count: 2;
    }
    .descricao h2, p {
        font-size: 40px;
    }
}
