body {
    background-color: rgba(224, 203, 203, 1);
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu .logo {
    display: none;
  width: 6rem;
}

.menu .logo img {
  width: 100%;
  height: auto;
}

.menu .text{
    display: table-column;
    width: 90%;
    text-align: left;
    padding: 1rem;
}

.menu .text p, h2{
    font-size: 4rem;
}

button{
    background-color: rgba(224, 203, 203, 1);
    border: none;
    cursor: pointer;
    font-style: italic;
}

button:hover{
    h2{
        color: rgba(33, 60, 101, 1);
        text-decoration: underline rgba(33, 60, 101, 1)
    }
}

.menu a{
    text-align: center;
    font-size: 60px;
    color: rgba(42, 22, 14, 1);
}

@media (max-width: 800px) {
    .menu .text p, h2{
    font-size: 2rem;
}
    .menu .logo {
        display: block;
    }
}