.vid{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 5rem;
}

.vid video{
    width: 60%;
    text-align: center;
}

.descricao{
    text-align: center;
    padding: 5rem 1rem 2rem 1rem;
}

.descricao p{
    font-size: 2rem;
}

.descricao a h2{
    font-size: 1.2rem;
    padding: 1rem;
    color: rgba(42, 22, 14, 1);
}

.descricao a h2:hover{
    color: rgba(33, 60, 101, 1);
    font-style: italic;
}

.videoDesigns{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0 2rem 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.videoDesigns img{
    width: 50%;
    padding: 1rem;
}

.printDesigns .print{
    padding: 2rem 5rem 2rem 5rem;
}

.printDesigns .print img{
    width: 100%;
}

@media (max-width: 800px) {
    .vid video{
        width: 100%;
    }
    .videoDesigns{
        display: grid;
        width: 100%;
        justify-content: center;
    }
    .videoDesigns img{
        width: 100%;
        padding-top: 1rem;
    }
    .printDesigns .print{
        padding: 0; 
    }
}
