main{
    position: relative;
    display: flex;
    padding: 80px 15px 15px 15px;
}

.vid{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 5rem;
}

.vid video{
    width: 50%;
    text-align: center;
}

.descricao{
    position: fixed;
    width: 20%;
}

.descricao p{
    font-size: 20px;
}

.descricao a h2{
    font-size: 1.2rem;
    color: rgba(42, 22, 14, 1);
}

.descricao a h2:hover{
    color: rgba(33, 60, 101, 1);
    font-style: italic;
}

.Animations{
    position: relative;
    width: 70%;
    column-count: 1;
    left: 25%;
}

.Animations img{
    width: 100%;
}

.Animations video{
    display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

@media (max-width: 800px) {
    main{
        flex-direction: column;
        padding: 80px 15px 15px 15px;
    }

    .vid video{
        width: 100%;
    }

    .descricao{
        position: relative;
        width: 100%;
        padding: 0 0 1rem 0;
    }

    .descricao p{
        font-size: 1.2rem;
    }

    .Animations{
        width: 100%;
        left: 0;
    }
}
