.vid {
  width: 100%;
  height: auto;
  text-align: center;
}

.vid video {
  width: 50%;
  text-align: center;
}

.descricao {
  position: fixed;
  width: 25%;
}

.descricao p {
  font-size: 16px;
}

.descricao a h2 {
  font-size: 1.2rem;
  color: rgba(42, 22, 14, 1);
  font-style: italic;
}

.descricao a h2:hover {
  color: rgba(33, 60, 101, 1);
}

.Animations {
  position: relative;
  width: 60%;
  column-count: 1;
  column-gap: 10px;
  left: 40%;
}

.Animations img {
  width: 100%;
  margin-top: 10px;
}

.Animations video {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

@media (max-width: 800px) {
  main {
    flex-direction: column;
    padding: 80px 15px 15px 15px;
  }

  .vid video {
    width: 100%;
  }

  .descricao {
    position: relative;
    width: 100%;
    padding: 0 0 1rem 0;
  }

  .Animations {
    width: 100%;
    left: 0;
    column-count: 1;
  }
  .paineis {
    display: none;
  }
  .descricao p {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
    .Animations{
        column-count: 1;
    }
}

@media (min-width:1920px) {
    .Animations{
        column-count: 2;
    }
    .descricao h2, p {
        font-size: 40px;
    }
}