#work{
    background-color: rgba(224, 203, 203, 1);
}

.portfolio{
    column-count: 2;
    column-gap: 30px;
    padding: 80px 15px 15px 15px;
    row-gap: 1rem;
}

.box{
    display: inline-block;
    width: 100%;
}

.reveal{
    display: flex;
    position: relative;
    overflow: hidden;
    transition-duration: 0.4s;
    opacity: 0.1;
    margin-bottom: 15px;
}

img{
    display:block;
    width: 100%;
}

.text{
    padding: 15px, 0, 0, 0;
}

.box h2{
    font-family: tipo3;
    font-size: 20px;
}

.box h3{
    font-size: 15px;
    font-family: tipo4;
}

.box h2, .box h3 {
    position: relative;
    overflow: hidden;
}

.box h2::after, .box h3::after {
    content: '';
    position: absolute;
    bottom: 0; /* Position the underline below the text */
    left: 0;
    width: 0;
    height: 1px; /* Thickness of the underline */
    background-color: rgba(42, 22, 14, 1); /* Color of the underline */
    transition: width 0.3s ease; /* Animation duration and easing */
}

/* Trigger the underline animation when hovering over the box */
.box:hover h2::after, .box:hover h3::after {
    width: 100%; /* Expand underline on hover */
}

.reveal.active{
    transition-duration: 0.8s;
    opacity: 1;
}

@media (max-width: 1200px) {
    .portfolio{
        column-count: 1;
    }
}

@media (min-width:1920px) {
    .portfolio{
        column-count: 3;
    }
    .box h2 {
        font-size: 2vw;
    }
    .box h3 {
        font-size: 1vw;
    }
}
