#work{
    background-color: rgba(224, 203, 203, 1);
}

.portfolio{
    column-count: 2;
    column-gap: 30px;
    padding: 80px 15px 15px 15px;
}

.box{
    display: inline-block;
    width: 100%;
}

.reveal{
    display: flex;
    position: relative;
    overflow: hidden;
    transition-duration: 0.4s;
    opacity: 0.1;
    margin-bottom: 15px;
}

img{
    display:block;
    width: 100%;
}

.text{
    padding: 15px, 0, 0, 0;
}

.box h2{
    font-size: 2rem;
    color: rgba(42, 22, 14, 1);
}

.box p{
    font-size: 2rem;
    color: rgba(42, 22, 14, 1);
}

.reveal.active{
    transition-duration: 0.8s;
    opacity: 1;
}

.reveal.active:hover{
    opacity: 0.8;

    .box h2, p{
        color: rgba(33, 60, 101, 1);
        font-style: italic;
    }
}


@media (max-width: 1200px) {
    .portfolio{
        column-count: 1;
    }
}

@media (min-width:1920px) {
    .portfolio{
        column-count: 3;
    }
    .box h2 {
        font-size: 2vw;
    }
    .box h3 {
        font-size: 1vw;
    }
}
