#work{
    background-color: rgba(224, 203, 203, 1);
}

.portfolio{
    column-count: 3;
    column-gap: 10px;
    row-gap: 15px;
}

.box{
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.reveal{
    display: flex;
    position: relative;
    overflow: hidden;
    transition-duration: 0.4s;
    opacity: 0.1;
    margin-bottom: 30px;
}

.portfolio img, video{
    display:block;
    width: 100%;
}

.portfolio video{
    display: none;
    top: 0;
    position: absolute;
    width: 100%;
}

.text{
    padding: 15px, 0, 0, 0;
}

.box h2, p{
    color: rgba(42, 22, 14, 1);
}

.reveal.active{
    transition-duration: 0.8s;
    opacity: 1;
}

.reveal.active:hover{
    opacity: 0.8;

    .box h2, p{
        color: rgba(33, 60, 101, 1);
        text-decoration: underline rgba(33, 60, 101, 1);
    }
    video {
        display: block;
    }
}


@media (max-width: 1200px) {
    .portfolio{
        column-count: 1;
    }
}

@media (min-width:1920px) {
    .portfolio{
        column-count: 3;
    }
    .box h2, p {
        font-size: 30px;
    }
}
